:root{
    font-family: "Rubik",Arial,sans-serif;
    --dark-gray: hsl(0, 0%, 59%);
    --very-dark-gray: hsl(0, 0%, 17%);
    --light-gray-skeleton-animation: hsl(200,20%,70%);
    --dark-gray-skeleton-animation: hsl(200,20%,95%) ;
}

/* Banner style */
.ipTracker-title{
    font-size: 2.2em ;
    padding-top: 30px;
    color: white;
    text-align: center;
}

.ipTracker-banner{
    min-height: 31vh;
    background-image: url("../images/pattern-bg.png") !important;
    background-size: cover ;
}

.ipTracker-input{
    padding: 18px 20px;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    border: none;
    color: var(--very-dark-gray);
    width: 450px;
}

.ipTracker-btn-submit{
    background: var(--very-dark-gray);
    border: none;
    border-radius:0 10px 10px 0 ;
    width: 60px !important;
    height: 57px;
    cursor: pointer;
}

.ipTracker-form-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.ipTracker-btn-submit:hover{
    background-color: var(--dark-gray);
}

/* ipTracker-location-info */

.ipTracker-info{
    position: relative;
    z-index: 5;
}

.ipTracker-location-info{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: white;
    padding: 40px 20px;
    box-shadow: 0 5px 10px var(--dark-gray);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /*pointer-events: none;*/
}

.ipTracker-block{
    min-height: 100px;
    padding-left: 40px ;
    padding-right: 40px ;
    width: 70%;
    border-right: 1px solid var(--dark-gray);
}
.ipTracker-block:last-child{
    border-right: none;
}

.ipTracker-block-title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    color: var(--dark-gray);
}

.ipTracker-block-info{
    margin-top: 18px;
    font-size: 1.5em;
    color: var(--very-dark-gray);
    font-weight: 500;
}


/* Media queries*/

@media (max-width:  700px) {
    .ipTracker-input {
        width: 100%;
    }

    .ipTracker-form-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ipTracker-location-info {
        flex-direction: column;
        width: 80%;
        text-align: center;
        margin-top: 30px;
    }

    .ipTracker-block {
        border: none;
    }
}

/* Error */

.error{
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 6px 8px;
}

